

/* ************************Header******************************** */

.header{
    padding: 4rem;
    background: rgb(0, 127, 95);
}
/* ***********************Search forms**************************** */

.search-container{
    display: flex;
    justify-content: space-between;
    padding: 2rem 4rem;
}

/* *************************Results********************************* */
.results-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    padding: 1rem;
}

/* ***************Company Profile Component**************** */

.full-name-container{
    display: flex;
    align-items: center;
}

.name-container{
    display: flex;
    flex-direction: column;
}