body{
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

/* ************************Header******************************** */

.header{
    padding: 4rem;
    background: #003049;
}
/* ***********************Search forms**************************** */

.search-container{
    display: flex;
    justify-content: space-between;
    padding: 2rem 4rem;
}

.search-form input[type=text]{
    font-size: 17px;
    border: 1px solid grey;
    padding: 8px;
    width: 300px;
}

.search-form button{
    padding: 8px;
    background: #007F5F;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    width: 70px;
    cursor: pointer;
}

.search-form button:hover{
    background: #F77F00;
}

/* *************************Ticker Search Results******************* */

#tickerResults{
    position: absolute;
    width: 370px;
    background: white;
    border: 1px solid grey;
    padding: 8px;
    z-index: 10;
}

/* *************************Results********************************* */
.results-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    padding: 1rem;
}

/* ***************Company Profile Component**************** */

.full-name-container{
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.full-name-container img{
    width: 60px;
}

.name-container{
    display: flex;
    flex-direction: column;
    padding: 10px;
    line-height: 150%;
}

.stock-price{
    font-weight: 700;
    font-size: 2.25rem;
}

.address{
    margin: 10px 0;
}

.company-description{
    margin: 10px 0;
    /* font-size: .9rem; */
    font-style: italic;
}

/* ************************News Component************************* */

.news-card-container{
    display: flex;
    flex-direction: column;
    border-top: lightgray solid 1px;
    margin: 10px 0;
}

.news-title{
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
    font-weight: bold;
}

.news-title:hover{
    color: #0f69ff;
}