

/* ************************Header******************************** */

.header{
    padding: 4rem;
    background: #003049;
}
/* ***********************Search forms**************************** */

.search-container{
    display: flex;
    justify-content: space-between;
    padding: 2rem 4rem;
}

.search-form input[type=text]{
    font-size: 17px;
    border: 1px solid grey;
    padding: 8px;
    width: 300px;
}

.search-form button{
    padding: 8px;
    background: #007F5F;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    width: 70px;
    cursor: pointer;
}

.search-form button:hover{
    background: #F77F00;
}

/* *************************Results********************************* */
.results-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    padding: 1rem;
}

/* ***************Company Profile Component**************** */

.full-name-container{
    display: flex;
    align-items: center;
}

.name-container{
    display: flex;
    flex-direction: column;
}